<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Concentrator.Plugins.PFA.Properties.Settings.DWHConnectionString"
        connectionString="Data Source=10.97.1.91;Initial Catalog=DWH;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="LookGroupID" value="527"/>
    <add key="GetTheLookGroupID" value="528" />
    <add key="connectorID" value="5"/>
    <add key="ConcentratorVendorID" value="48"/>
    <add key="ATVendorID" value="2"/>
    <add key="ccVendorID" value="1"/>
    <add key="Language" value="1"/>
    <add key="DatColLocation"  value="\\cat-pro\export\datcol\web"/>
    <add key="DatColLocationUserName" value="CAT-DOM\diract-it"/>
    <add key="DatColLocationPassword" value="D1r@ct01"/>
    <add key="shopAT"  value="801"/>
    <add key="shop"  value="890"/>
    <add key="CCDataSourcePFA" value="DEVELOPMENT_PFA_CC" />
    <add key="CCDataSourceStockPFA" value="DEVELOPMENT_PFA_CC_STOCK" />
    <add key="OrderPath" value="D:\CoolCat" />
    <add key="DescriptionPath" value="E:\Descriptions" />
    <add key="OrderFile" value="voorbeeld webshop databestand.xlsx" />
    <add key="VpnIps" value="10.97.1.51,10.97.1.122"/>
    <add key="PFAImagePath" value="\\10.97.50.151\propictures"/>
    <add key="DefaultTaxRate" value="21"/>
    <add key="atConnectorID" value="14"/>
    <add key="ccConnectorID" value="5,7,13"/>
    <add key="DatColLocationAT"  value="\\cat-pro\export\datcol\web"/>
    <add key="DatColLocationUserNameAT" value="CAT-DOM\diract-it"/>
    <add key="DatColLocationPasswordAT" value="123123123"/>
    <add key="ATPFADSN" value="DEV_PFA_AT" />
    <add key="ATPFAImportVendorIDs" value="25" />
   

  </appSettings>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>