<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Environment" type="Concentrator.Objects.Environments.EnvironmentConfigSection, Concentrator.Objects" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <Environment configSource="environment.generic.config"/>
  <system.diagnostics configSource="diagnostics.generic.config"/>
</configuration>