<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EdiVendorID" value="1"/>
    <add key="EDIListenerPrefixes" value="http://*:55555/"/>
    <add key="EdiOrderDir" value="F:\tmp\Five4U\EDI"/>
    <add key="AWWebServiceURL" value="http://webservice.five4u.nl:8080/wsa_webservices_test/wsa1_webservices_test"/>
    <add key="RequireAuthentication" value="True"/>
    <add key="ForwardPostUrl" value="http://"/>
    <add key="DefaultConnectorID" value="1"/>
    <add key="ExcelPath" value="F:\tmp\Five4U\Excel"/>
    <add key="CustomExportPath" value="F:\tmp\Five4U\Export\"/>

    <add key="MailType" value="POP"/>
    <add key="POPServer" value="192.168.0.39"/>
    <add key="POPMailUser" value ="FIVE4U\EDI"/>
    <add key="POPMailPassword" value ="VerzinIets01"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>