USE [Concentrator]
GO
/****** Object:  Table [dbo].[WebToPrintBinding]    Script Date: 04/21/2011 15:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebToPrintBinding](
	[BindingID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Query] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_WebToPrintBinding] PRIMARY KEY CLUSTERED 
(
	[BindingID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebToPrintBindingField]    Script Date: 04/21/2011 15:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebToPrintBindingField](
	[FieldID] [int] NOT NULL,
	[BindingID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Type] [tinyint] NOT NULL,
 CONSTRAINT [PK_WebToPrintBindingFields] PRIMARY KEY CLUSTERED 
(
	[FieldID] ASC,
	[BindingID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebToPrintProject]    Script Date: 04/21/2011 15:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebToPrintProject](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1024) NULL,
 CONSTRAINT [PK_WebToPrintProject] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_WebToPrintProject] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebToPrintQueue]    Script Date: 04/21/2011 15:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebToPrintQueue](
	[QueueID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_WebToPrintQueue] PRIMARY KEY CLUSTERED 
(
	[QueueID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebToPrintPage]    Script Date: 04/21/2011 15:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebToPrintPage](
	[PageID] [int] NOT NULL,
	[ProjectID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_WebToPrintPage] PRIMARY KEY CLUSTERED 
(
	[PageID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_WebToPrintPage] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebToPrintDocument]    Script Date: 04/21/2011 15:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebToPrintDocument](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_WebToPrintDocument] PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_WebToPrintDocument] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebToPrintComposite]    Script Date: 04/21/2011 15:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebToPrintComposite](
	[CompositeID] [int] NOT NULL,
	[ProjectID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_WebToPrintComposite] PRIMARY KEY CLUSTERED 
(
	[CompositeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_WebToPrintComposite] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_WebToPrintBindingFields_WebToPrintBindings]    Script Date: 04/21/2011 15:58:54 ******/
ALTER TABLE [dbo].[WebToPrintBindingField]  WITH CHECK ADD  CONSTRAINT [FK_WebToPrintBindingFields_WebToPrintBindings] FOREIGN KEY([BindingID])
REFERENCES [dbo].[WebToPrintBinding] ([BindingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WebToPrintBindingField] CHECK CONSTRAINT [FK_WebToPrintBindingFields_WebToPrintBindings]
GO
/****** Object:  ForeignKey [FK_WebToPrintComposite_WebToPrintProject]    Script Date: 04/21/2011 15:58:54 ******/
ALTER TABLE [dbo].[WebToPrintComposite]  WITH CHECK ADD  CONSTRAINT [FK_WebToPrintComposite_WebToPrintProject] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[WebToPrintProject] ([ProjectID])
GO
ALTER TABLE [dbo].[WebToPrintComposite] CHECK CONSTRAINT [FK_WebToPrintComposite_WebToPrintProject]
GO
/****** Object:  ForeignKey [FK_WebToPrintDocument_WebToPrintProject]    Script Date: 04/21/2011 15:58:54 ******/
ALTER TABLE [dbo].[WebToPrintDocument]  WITH CHECK ADD  CONSTRAINT [FK_WebToPrintDocument_WebToPrintProject] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[WebToPrintProject] ([ProjectID])
GO
ALTER TABLE [dbo].[WebToPrintDocument] CHECK CONSTRAINT [FK_WebToPrintDocument_WebToPrintProject]
GO
/****** Object:  ForeignKey [FK_WebToPrintPage_WebToPrintProject]    Script Date: 04/21/2011 15:58:54 ******/
ALTER TABLE [dbo].[WebToPrintPage]  WITH CHECK ADD  CONSTRAINT [FK_WebToPrintPage_WebToPrintProject] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[WebToPrintProject] ([ProjectID])
GO
ALTER TABLE [dbo].[WebToPrintPage] CHECK CONSTRAINT [FK_WebToPrintPage_WebToPrintProject]
GO
/****** Object:  ForeignKey [FK_WebToPrintProject_User]    Script Date: 04/21/2011 15:58:54 ******/
ALTER TABLE [dbo].[WebToPrintProject]  WITH CHECK ADD  CONSTRAINT [FK_WebToPrintProject_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[WebToPrintProject] CHECK CONSTRAINT [FK_WebToPrintProject_User]
GO
/****** Object:  ForeignKey [FK_WebToPrintQueue_WebToPrintProject]    Script Date: 04/21/2011 15:58:54 ******/
ALTER TABLE [dbo].[WebToPrintQueue]  WITH CHECK ADD  CONSTRAINT [FK_WebToPrintQueue_WebToPrintProject] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[WebToPrintProject] ([ProjectID])
GO
ALTER TABLE [dbo].[WebToPrintQueue] CHECK CONSTRAINT [FK_WebToPrintQueue_WebToPrintProject]
GO
