<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AuditLog4Net" version="1.2.0.0" targetFramework="net40" />
  <package id="Common.Logging" version="1.2.0" targetFramework="net40" />
  <package id="log4net" version="1.2.11" targetFramework="net40" />
  <package id="Quartz" version="1.0.3" targetFramework="net40" />
</packages>