Build
Debug
Release
bin
Bin
obj
TestResults
packages
*.pdb
*.obj
*.suo
*.vs10x
Concentrator.Objects/DataAccess/EntityFramework/ConcentratorDataModel.Views.cs
*.csproj.user
*.vbproj.user
*.dtproj.user
*.vspscc
*.sln
*.sln.ide
*.exe
Concentrator.Objects/DataAccess/EntityFramework/ConcentratorDataModel.Views.cs
!.nuget/NuGet.exe
Thumbs.db
ImageCache
log.txt
log.txt.*
*.Publish.xml
*Test-Results.xml
!Shared/NUnit/bin
Test/*.dll
Test/*.xml
Test/Plugin/*.*
Test/Plugin
*.lst
MiddleWare/WMS.Middleware.Consolehost/Plugins/*.*
_ReSharper.*/
*resharper.user
_ReSharper*
*.resharper.user
release/*
*.orig
Shared/*.Objects.*
Shared/*.Objects.EDI.*
Web/Concentrator.Web.Services/Designer/Output/*.*
*.generic.config
*.edmx.diagram
*.vsmdi
*.testsettings