<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SennheiserProductImportPath" value="F:\tmp\SennHeiser\products.xml" />
    <add key="SennheiserProductXlsPath" value="F:\tmp\SennHeiser\CSN-productlijst.xls" />
    <add key="SennheiserProductXlsPath" value="F:\tmp\SennHeiser\CSN-productlijst.xls" />
    <add key="SennheiserBasePath" value="F:\tmp\SennHeiser\" />
    <add key="SennheiserThirdPartiesPath" value="ThirdParty" />
    <add key="SennheiserProductCategoriesPath" value="F:\tmp\SennHeiser\categories.xml" />
    <add key="SennheiserWebDocumentsPath" value="Web" />
    <add key="SennheiserPriceFilesPath" value="Prices" />
    <add key="Vendors" value="51,52" />
    <add key="OutPutPath" value="F:\tmp\SennHeiser\" />
    <add key="VendorID_NL" value="51" />
    <add key="VendorID_BE" value="52" />
    <!--SennHeiser Price Import-->
    <!--Currently uses BasWeb vendors-->
    <add key="SennheiserVendorID_NL" value="51" />
    <add key="SennheiserVendorID_BE" value="52" />
    <add key="ExcelFileNL" value="NL.xls" />
    <add key="ExcelFileBE" value="BE.xls" />
    <add key="SennheiserPriceList" value="http://localhost/Concentrator.Vendors.Sennheiser/Home/PrintPriceList" />
    <add key ="SennheiserBrandPriceList" value ="http://localhost/Concentrator.Vendors.Sennheiser/Home/PrintBrandPriceList?brandID={0}"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>