@{
  Layout = null;
}
<div class="portlet-content-container">
  <span>
    There are 
    <a href="#" onclick="Concentrator.ViewInstance.open('content-item',{SentToWehkampAsDummy : true, ReadyForWehkamp: false})"> @ViewBag.CountUrgentProducts products </a>
    to be enriched urgently!
  </span>
</div>
