<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Environment" type="Concentrator.Objects.Environments.EnvironmentConfigSection, Concentrator.Objects" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <appSettings>
    <add key="AssortmentExport.SerializationPath" value="D:\tmp\Vlisco\Serialization" />
  </appSettings>
  
  <Environment configSource="environment.generic.config" />
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <system.diagnostics configSource="diagnostics.generic.config" />
</configuration>