<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="WPOS"
      connectionString="Data Source=.\SQLR2EXPRESS;Initial Catalog=POS;Persist Security Info=True;User ID=spider;Password=spider;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />-->
    <add name="WPOS"
      connectionString="Data Source=172.16.34.118;Initial Catalog=CeyennePOS;Persist Security Info=True;User ID=sa;Password=Wp0s88;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="ConnectorID" value="10"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
