<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="IsNetworkDrive" value="True"/>
    <add key="FTPImageDirectory" value="172.16.250.62\d"/>-->
    <add key="IsNetworkDrive" value="False"/>
    <!--<add key="FTPImageDirectory" value="F:\temp\Image\"/>-->
    <add key="FTPImageDirectory" value="C:\ConcentratorFTP\Images\Attributes" />
    <add key="ThumbTypeIDs" value ="1,4,9,10"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
