<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IceCatDownloader.Properties.Settings.A0122MyProjectsConnectionString"
            connectionString="Data Source=172.16.1.41;Initial Catalog=MyProjects;Persist Security Info=True;User ID=sa;Password=%kg77hB"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>