<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="ExcelPath" value="D:\Sapph"/>
    <add key="ProductExcel" value="Products.xlsx"/>
    <add key="LookExcel" value="Looks.xlsx"/>
    <add key="CategoryExcel" value="Categories.xlsx"/>
    <add key="VendorID" value="50"/>
    <add key="VendorIDs" value="50,51"/>
    <add key="DefaultVendorID" value="50"/>
    <add key="SapphBackupDirectory" value="D:\Sapph\Sapph product media"/>
    <add key="ThumbnailDirectory" value="D:\Sapph\Sapph product media\thumbnails"/>

    <add key="DiscountImport.ExcelLocation" value="D:\Temp\Sapph\DiscountImport"/>
    <add key="DiscountImport.AddToProductGroupMappingID" value="4339"/>
    <add key="DiscountImport.AddToMasterGroupMappingID" value="25255"/>
    <add key="DiscountImport.ConnectorIDs" value="11,15"/>
    
  </appSettings>

</configuration>