<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VendorID"  value="256"/>
    <add key="AmacomUrl" value="ftp://ftp.myftp.nl"/>
    <add key="ClientID" value="100582"/>
    <add key="ProductPath" value="prijs-vooraad/"/>
    <add key="Username" value="amacom"/>
    <add key="Password" value="mocama"/>
  </appSettings>
</configuration>