<?xml version="1.0"?>
<configuration>
    <configSections>
      
    </configSections>
    <connectionStrings>
        <add name="Concentrator.Plugins.RMAExport.Properties.Settings.Sennheiser_DevelopmentConnectionString" connectionString="Data Source=mercurius;Initial Catalog=Sennheiser_Development;User ID=sennheiser;Password=sennh31ser" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <appSettings>
    <add key="VendorID_NL" value="51"/>
    <add key="VendorID_BE" value="52"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
