/*
   vrijdag 8 juli 201112:43:26
   User: spider
   Server: .
   Database: Concentrator_dev_entity
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.ContentProductGroup ADD
	IsCustom bit NULL
GO
ALTER TABLE dbo.ContentProductGroup SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
