<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ArvatoImageFtpUrl" value="" />
    <add key="ArvatoImageUser" value="" />
    <add key="ArvatoImagePassword" value="" />
    <add key="FTPImageDirectory" value="" />
    <add key="ArvatoFtpUrl" value="" />
    <!--<add key="ArvatoUserName" value="soap@mycom.nl" />
    <add key="ArvatoPassword" value="uKO2anZyggzcXSf1I1jy" />-->

    <add key="ArvatoUserName" value="MycomDevSoap@Mycom.com" />
    <add key="ArvatoPassword" value="Myc0mD3v!#S0ap" />
    
    <add key="ArvatoProductPath" value="" />
    <add key="ArvatoContentPath" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DefaultVendorID" value="50"/>
    <add key ="VendorID" value="50"/>
    <add key="ArvatoProductImportPath" value="C:\Arvato\" />
    <add key="FeedUrl" value="http://www.mycom.nl/feeds/Concentrator.feed"/>
  </appSettings> 
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="RetailerSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                useDefaultWebProxy="true">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                    maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                <security mode="None">
                    <transport clientCredentialType="None" proxyCredentialType="None"
                        realm="">
                        <extendedProtectionPolicy policyEnforcement="Never" />
                    </transport>
                    <message clientCredentialType="UserName" algorithmSuite="Default" />
                </security>
            </binding>
        </basicHttpBinding>
    </bindings>
    <client>
      </client>
  </system.serviceModel>
</configuration>