<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AlphaFtpUrl" value="ftp://193.172.194.122/"/>
    <add key="AlphaUserName" value="BD015948"/>
    <add key="AlphaPassword" value="5435r37uPm0C"/>
    <add key="AlphaPath" value="pricefile/"/>
    <add key="AlphaStockPath" value="stock/"/>
    <add key="AlphaCurrentVersion" value="3.0"/>
    <add key="AlphaCustomerNumber" value="015948"/>
    <add key="AlphaAddressID" value="1234567890"/>
    <add key="AlphaRemoteContentDir" value="pricefile/"/>
    <add key="AlphaRemoteOrderDirectory" value="order/"/>
    <add key="AlphaRemoteResponseDirectory" value="respons/"/>
    <add key="AlphaRemoteInvoiceDirectory" value="invoice/"/>
    <add key="AlphaRemoteDispadviceDirectory" value="despadv/"/>
    <add key="AlphaInfoName" value="Alpha International"/>
    <add key="AlphaInfoStreet" value="Pastoor van Laakstraat 92"/>
    <add key="AlphaInfoPC" value="6663 CC"/>
    <add key="AlphaInfoCity" value="LENT"/>
    <add key="AlphaInfoCountry" value="NL"/>
    <add key="VendorID" value="36"/>
    <add key="DefaultVendorID" value="36"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
