<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Concentrator.Plugins.EDI.JDE.Properties.Settings.JDE_CRPConnectionString4"
            connectionString="Data Source=a0124;Initial Catalog=JDE_CRP;User ID=crpdta"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>