<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VendorID" value="264"/>
    <add key="DefaultVendorID" value="264"/>
    <add key="FtpUrl" value="ftp://ftptest.ingrambook.com/"/>
    <add key="FtpPassword" value="22fuftgecv"/>
    <add key="FtpUsername" value="t20N3897"/>
    <add key="Annotations" value="Titleswk/antingrm-13.zip"/>
    <add key="Titles" value="Titleswk/ttlingv2.zip"/>
    <add key="TitlesUpdate" value="Titleswk/ttladdch.zip"/>
    <add key="Series" value="Reference_Files/SERIES.txt"/>
    <add key="Categories" value="Reference_Files/catg2.txt"/>
    <add key="Familys" value="Familying/family-13.zip"/>
    <add key="Stock" value="inventory/stockv2@ingram.zip"/>
    <add key="StockETA" value="inventory/stock@eta.zip"/>
    <add key="LocalImportDir" value="G:\Ingram\Import\"/>
  </appSettings>
</configuration>