/*
   maandag 27 juni 20119:55:48
   User: 
   Server: DIRACT-025\SQL2008
   Database: Concentrator_storage
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.OrderResponseLine.processed', N'Tmp_Processed_8', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.OrderResponseLine.Tmp_Processed_8', N'Processed', 'COLUMN' 
GO
ALTER TABLE dbo.OrderResponseLine SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
