/*
   donderdag 23 juni 201110:41:16
   User: 
   Server: DIRACT-025\SQL2008
   Database: Concentrator_storage
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.ConnectorProductStatus.ProductStatusID', N'Tmp_ConnectorProductStatusID_2', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.ConnectorProductStatus.Tmp_ConnectorProductStatusID_2', N'ConnectorProductStatusID', 'COLUMN' 
GO
ALTER TABLE dbo.ConnectorProductStatus SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
