<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConcentratorConfiguration" type="Concentrator.Objects.Concentrator.Configuration.ConcentratorConfiguration, Concentrator.Objects.MiddleWare"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="Environment" type="Concentrator.Objects.Environments.EnvironmentConfigSection, Concentrator.Objects"
      allowLocation="true" allowDefinition="Everywhere" />

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Concentrator.Connectors.MyCom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Concentrator.Connectors.PriceCompare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

    <section
      name ="SFTPConnection"
      type="Concentrator.Objects.SFTP.SFTPConfigSection, Concentrator.Objects"
      allowDefinition="Everywhere"
      allowLocation="true" />

  </configSections>

  <connectionStrings>
    <add name="ICEcat"
        connectionString="Data Source=172.16.0.63;Initial Catalog=ICECAT;Persist Security Info=True;User ID=spider;Password=spider"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <Environment Current="dev">
    <Environments>
      <Env Name="dev"
           Connection="Data Source=mercurius;Initial Catalog=Concentrator;Persist Security Info=True; user id = spider; password=spider"
           IdentificationMethod="UserName" />
      <Env Name="dev1"
                 Connection="Data Source=mercurius;Initial Catalog=Concentrator;Persist Security Info=True; user id = spider; password=spider"
                 IdentificationMethod="UserName" />
    </Environments>
  </Environment>
  <SFTPConnection
    Username="s_mycom_0201"
    Password="4ndRbYH#"
    Filename="sftp.cendris.com"
    WinscpLogdir="\C:\Zip\log.xml"
    WinscpApplicationDir="C:\Program Files (x86)\WinSCP\WinSCP.com"
    PrivateKeyPath="D:\Projects\ssh-concentrator\cendris_priv.ppk"
    SessionName = "mysession"
    LocalFilePath = "C:\Zip\ZipCodes.zip"
    LocalPath ="C:\Zip"
    RemoteFileName ="pctmutr.*.zip"
    />

  <ConcentratorConfiguration PluginPath="D:\Projects\Concentrator\Test\Plugin">
    <Plugins>
      <!--<Plugin Name="MyComShops" TypeName="Concentrator.Connectors.Vendors.MyComShopContentImport" Group="BAS" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="MyComTEMP" TypeName="Concentrator.Connectors.Vendors.BAS.TempAuction" Group="BAS" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="MyCom ContentImport" TypeName="Concentrator.Connectors.Vendors.VendorImports.MyComAssortmentImport" Group="BAS" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="MyCom ContentImport" TypeName="Concentrator.Connectors.Vendors.VendorImports.MyComRetailStockImport" Group="BAS" CronExpressionString="" ExecuteOnStartUp="True" />-->

      <!--<Plugin Name="BAS Assortment" TypeName="Concentrator.Connectors.Vendors.AssortmentImporter" Group="BAS" CronExpressionString="" ExecuteOnStartUp="True" />-->

      <!--<Plugin Name="MyCom Veiling Content Import" TypeName="Concentrator.Connectors.Vendors.VendorImports.MyComVeilingAssortmentImport" Group="BAS" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="BasWeb" TypeName="Concentrator.Connectors.Vendors.BASwebContentImport" Group="BAS" CronExpressionString="0 0/30 8-21 * * ?" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="BasWebBE" TypeName="Concentrator.Connectors.Vendors.BASwebBEContentImport" Group="BAS" CronExpressionString="0 0/15 8-21 * * ?" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="Vobis" TypeName="Concentrator.Connectors.Vendors.VendorImports.VobisAssortmentImport" Group="BAS" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="IceCat" TypeName="Concentrator.Connectors.ContentVendor.IceCatImport" Group="ContentVendor" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="JDE" TypeName="Concentrator.Connectors.Vendors.BAS.JDEContentImport" Group="BAS" CronExpressionString="0 0/15 8-21 * * ?" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="ZipCodes" TypeName="Concentrator.Connectors.ZipCode.ZipCodeImport" Group="ZipCodes" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="Tweakers" TypeName="Concentrator.Connectors.PriceCompare.PriceCompareTweakersIn" Group="ProductCompare" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="Scan.Co.Uk" TypeName="Concentrator.Connectors.PriceCompare.PriceCompareScanIn" Group="ProductCompare" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="IceCatPrice" TypeName="Concentrator.Connectors.PriceCompare.PriceCompareIceCatIn" Group="ProductCompare" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="AlphaInt" TypeName="Concentrator.Connectors.AlphaInternational.AlphaWebContentImport" Group="ContentVendorImport" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="GenerateAssortment" TypeName="Concentrator.Connectors.Assortment.GenerateAssortment" Group="Assortment" CronExpressionString="" ExecuteOnStartUp="True" />-->

      <!--<Plugin Name="DirectSale" TypeName="Concentrator.Connectors.Vendors.VendorImports.DirectSaleAssortmentImport" Group="BAS" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <Plugin Name="AlaTest" TypeName="Concentrator.Connectors.Alatest.AlatestContentUpdater" Group="BAS" CronExpressionString="" ExecuteOnStartUp="True" />
    </Plugins>
    <Vendors>
      <!--<Vendor Name="MyCom" VendorID="1" BSCStock="False" RetailStock="False"/>-->
      <!--<Vendor Name="BASNL" VendorID="2" BSCStock="False" RetailStock="False"/>-->
      <!--<Vendor Name="BASBE" VendorID="4" BSCStock="False" RetailStock="False"/>-->
      <Vendor Name="MyCom Auction" VendorID="31" BSCStock="True" RetailStock="False"/>
    </Vendors>
  </ConcentratorConfiguration>

  <appSettings>
    <add key="AlphaFtpUrl" value="ftp://wms.basgroup.nl" />
    <add key="AlphaUserName" value="alpha" />
    <add key="AlphaPassword" value="nJg788^7A" />

    <add key="ReviewCollectID" value="partnerid" />
    <add key="MinNumberOfReviewsPerProduct" value="prodMinViews" />
    <add key="MaxNumberOfReviewsToFetch" value="prodMaxFetch" />
    <add key="BaseUrl" value="url" />
    <add key="ProductID" value="prodid" />
    <add key="partnerid" value="44" />
    <add key="prodMinViews" value="1" />

    <add key="AlatestReviewURL" value="http://reviewcollect.alatest.com/reviews/viewall" />
    <add key="AlatestReviewSnippetURL" value="http://reviewcollect.alatest.com/reviews/getReviewSnippet" />


    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="25015;True;8280;1;-8589273313629899040" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
  </appSettings>
  <applicationSettings>
    <Concentrator.Connectors.PriceCompare.Properties.Settings>
      <setting name="SchemaFile" serializeAs="String">
        <value>C:\_Dennis\SVN\ScanImporter\ScanImporter\Schema\Scan.xsd</value>
      </setting>
      <setting name="XmlFile" serializeAs="String">
        <value>C:\Users\dennis\Downloads\competitorpricereport.xml</value>
      </setting>
      <setting name="XmlLogFile" serializeAs="String">
        <value>C:\error.xml</value>
      </setting>
      <setting name="DownloadURl" serializeAs="String">
        <value>https://secure.scan.co.uk/supplier/competitorpricexml.asp</value>
      </setting>
      <setting name="WebUser" serializeAs="String">
        <value>basxml</value>
      </setting>
      <setting name="WebPass" serializeAs="String">
        <value>UDpQxd7VLb</value>
      </setting>
      <setting name="WebCurrency" serializeAs="String">
        <value>EUR</value>
      </setting>
    </Concentrator.Connectors.PriceCompare.Properties.Settings>
  </applicationSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="JdeAssortmentSoap" closeTimeout="00:04:00" openTimeout="00:4:00"
            receiveTimeout="00:15:00" sendTimeout="00:04:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="99965536" maxBufferPoolSize="524288" maxReceivedMessageSize="99965536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="">
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SelectorServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="AlatestEndpoint" closeTimeout="00:10:00" openTimeout="00:10:00"
                receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
                bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                maxBufferSize="65536000" maxBufferPoolSize="52428800" maxReceivedMessageSize="6553600"
                messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="AlatestEndpoint1" closeTimeout="00:10:00" openTimeout="00:10:00"
            receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536000" maxBufferPoolSize="52428800" maxReceivedMessageSize="6553600"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="OrderInboundSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
         receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
         bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
         maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
         useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/BASConnector/JdeAssortment.asmx"
          binding="basicHttpBinding" bindingConfiguration="JdeAssortmentSoap"
          contract="BasVendorConnector.JdeAssortmentSoap" name="JdeAssortmentSoap" />
      <endpoint address="http://localhost/Concentrator/SelectorService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SelectorServiceSoap"
        contract="ConcentratorSelectorService.SelectorServiceSoap" name="SelectorServiceSoap" />
      <endpoint address="http://localhost/AlatestService/AlatestService.svc"
               binding="basicHttpBinding" bindingConfiguration="AlatestEndpoint"
               contract="IAlatestService" name="AlatestEndpoint" />
      <endpoint address="http://localhost/AlatestService/AlatestService.svc"
          binding="basicHttpBinding" bindingConfiguration="AlatestEndpoint1"
          contract="AlatestService.IAlatestService" name="AlatestEndpoint1" />
      <endpoint address="http://localhost/ConcentratorOrders/OrderInbound.asmx"
              binding="basicHttpBinding" bindingConfiguration="OrderInboundSoap"
              contract="ConcentratorOrders.OrderInboundSoap" name="OrderInboundSoap" />
    </client>
  </system.serviceModel>

  <log4net>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | %-5level %logger - %message%newline" />
      </layout>
    </appender>


    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>

    </appender>


    Setup the root category, add the appenders and set the default level
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>


  </log4net>
</configuration>
