<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FtpWms" value="F:\tmp\CC\Ftp"/>

    <add key="StockMutationPath" value="F:\tmp\CC\Ftp\IN\STOCK"/>
    <add key="StockMutationVendorID" value="1"/>
    <add key="WmsVendorStockTypeID" value="3"/>
    <add key="TransitVendorStockTypeID" value="4"/>
  </appSettings>
</configuration>