<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SepaPath" value="d:\Sepa.xml" />
    <add key="XsdPath" value="C:\code\concentrator\Tasks\Concentrator.Tasks.ERB\Coolcat\Concentrator.Tasks.ERB.Coolcat\XSD\pain.001.001.03.xsd" />
    <add key="SepaNameSpace" value="urn:iso:std:iso:20022:tech:xsd:pain.001.001.03"/>
    <add key="PmtMtd" value="TRF"/>
    <add key="Ccy" value="EUR"/>
    <add key="Cd" value="SEPA"/>
    <add key="InstrPrty" value="NORM"/>
    <add key="ChrgBr" value="SLEV"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>