<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="VSNFtpUrl" value="ftp://84.244.142.7/"/>
    <add key="VSNUser" value="10871"/>
    <add key="VSNPassword" value="RVC8pU"/>
    <add key="FTPImageDirectory" value="D:\ConcentratorFTP"/>
    <add key="VendorID" value="68"/>
    <add key="IsNetworkDrive" value="false"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
