-- Script was generated by Devart dbForge Schema Compare for SQL Server, Version 2.0.150.0
-- Script date 7/28/2011 12:15:57 PM
-- Source server version: 10.50.1600
-- Source connection string: Data Source=192.168.0.96;Initial Catalog=Concentrator_Staging;Integrated Security=False;User ID=concentrator_staging;
-- Target server version: 10.00.1600
-- Target connection string: Data Source=192.168.94.186;Initial Catalog=Concentrator_staging;Integrated Security=False;User ID=concentrator_usr;
-- Run this script against Concentrator_staging to synchronize it with Concentrator_Staging
-- Please backup your target database before running this script
SET CONCAT_NULL_YIELDS_NULL, ANSI_NULLS, ANSI_PADDING, QUOTED_IDENTIFIER, ANSI_WARNINGS, ARITHABORT, XACT_ABORT ON
SET NUMERIC_ROUNDABORT, IMPLICIT_TRANSACTIONS OFF
GO

USE Concentrator_staging
GO

SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO

--
-- Create column "ConnectorID" on table "dbo.EdiOrderListener"
--
ALTER TABLE dbo.EdiOrderListener
  ADD ConnectorID int NULL
GO

UPDATE dbo.EdiOrderListener SET ConnectorID = 0
GO

ALTER TABLE dbo.EdiOrderListener
  ALTER
    COLUMN ConnectorID int NOT NULL
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key  on table "EdiOrderListener"
--
ALTER TABLE dbo.EdiOrderListener
  ADD CONSTRAINT FK_EdiOrderListener_Connector FOREIGN KEY (ConnectorID) REFERENCES dbo.Connector (ConnectorID)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create column "EdiVendorID" on table "dbo.ConnectorRelation"
--
ALTER TABLE dbo.ConnectorRelation
  ADD EdiVendorID int NULL
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create column "FreightProduct" on table "dbo.ConnectorRelation"
--
ALTER TABLE dbo.ConnectorRelation
  ADD FreightProduct nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create column "FinChargesProduct" on table "dbo.ConnectorRelation"
--
ALTER TABLE dbo.ConnectorRelation
  ADD FinChargesProduct nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key  on table "ConnectorRelation"
--
ALTER TABLE dbo.ConnectorRelation
  ADD CONSTRAINT FK_ConnectorRelation_EdiVendor FOREIGN KEY (EdiVendorID) REFERENCES dbo.EdiVendor (EdiVendorID)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Refresh view "dbo.UserCredentials"
--
EXEC sp_refreshview 'dbo.UserCredentials'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create column "RequestDate" on table "dbo.EdiOrder"
--
ALTER TABLE dbo.EdiOrder
  ADD RequestDate datetime NULL
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key  on table "EdiOrder"
--
ALTER TABLE dbo.EdiOrder
  ADD CONSTRAINT FK_EdiOrder_EdiOrderListener FOREIGN KEY (EdiRequestID) REFERENCES dbo.EdiOrderListener (EdiRequestID)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key FK_EdiOrderPost_Connector on table "EdiOrderPost"
--
ALTER TABLE dbo.EdiOrderPost
  DROP CONSTRAINT FK_EdiOrderPost_Connector
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key FK_EdiOrderPost_ConnectorRelation on table "EdiOrderPost"
--
ALTER TABLE dbo.EdiOrderPost
  DROP CONSTRAINT FK_EdiOrderPost_ConnectorRelation
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key FK_EdiOrderPost_EdiOrder on table "EdiOrderPost"
--
ALTER TABLE dbo.EdiOrderPost
  DROP CONSTRAINT FK_EdiOrderPost_EdiOrder
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Drop foreign key FK_EdiOrderPost_EdiOrderListener on table "EdiOrderPost"
--
ALTER TABLE dbo.EdiOrderPost
  DROP CONSTRAINT FK_EdiOrderPost_EdiOrderListener
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Rename table "dbo.EdiOrderPost" to "tmp_devart_EdiOrderPost"
--
EXEC sp_rename N'dbo.EdiOrderPost', N'tmp_devart_EdiOrderPost', 'OBJECT'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Rename index "PK_EdiOrderPost_1" to "tmp_devart_PK_EdiOrderPost_1" on table "EdiOrderPost"
--
EXEC sp_rename N'dbo.PK_EdiOrderPost_1', N'tmp_devart_PK_EdiOrderPost_1', 'OBJECT'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Rename default "DF_EdiOrderPost_Processed" to "tmp_devart_DF_EdiOrderPost_Processed" on column "Processed"
--
EXEC sp_rename N'dbo.DF_EdiOrderPost_Processed', N'tmp_devart_DF_EdiOrderPost_Processed', 'OBJECT'
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create table "dbo.EdiOrderPost"
--
CREATE TABLE dbo.EdiOrderPost (
  EdiOrderPostID int IDENTITY,
  EdiOrderID int NOT NULL,
  ConnectorRelationID int NOT NULL,
  EdiBackendOrderID int NULL,
  CustomerOrderID nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  Processed bit NOT NULL CONSTRAINT DF_EdiOrderPost_Processed DEFAULT ((0)),
  Type varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
  PostDocument nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PostDocumentUrl nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  PostUrl nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  [Timestamp] datetime NOT NULL,
  ResponseRemark varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  ResponseTime int NULL,
  ProcessedCount int NULL,
  EdiRequestID int NOT NULL,
  ErrorMessage nvarchar(max) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
  BSKIdentifier int NOT NULL,
  DocumentCounter int NOT NULL,
  ConnectorID int NULL
)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Restore data to the table "dbo.EdiOrderPost"
--
SET IDENTITY_INSERT dbo.EdiOrderPost ON

INSERT dbo.EdiOrderPost(EdiOrderPostID, EdiOrderID, ConnectorRelationID, EdiBackendOrderID, CustomerOrderID, Processed, Type, PostDocument, PostDocumentUrl, PostUrl, [Timestamp], ResponseRemark, ResponseTime, ProcessedCount, EdiRequestID, ErrorMessage, BSKIdentifier, DocumentCounter, ConnectorID)
  SELECT EdiOrderPostID, EdiOrderID, ConnectorRelationID, EdiBackendOrderID, CustomerOrderID, Processed, Type, CONVERT(nvarchar(max), PostDocument) AS PostDocument, PostDocumentUrl, PostUrl, [Timestamp], ResponseRemark, ResponseTime, ProcessedCount, EdiRequestID, ErrorMessage, BSKIdentifier, DocumentCounter, ConnectorID FROM dbo.tmp_devart_EdiOrderPost

if @@ERROR = 0
  DROP TABLE dbo.tmp_devart_EdiOrderPost

SET IDENTITY_INSERT dbo.EdiOrderPost OFF
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create primary key PK_EdiOrderPost_1 on table "EdiOrderPost"
--
ALTER TABLE dbo.EdiOrderPost
  ADD CONSTRAINT PK_EdiOrderPost_1 PRIMARY KEY (EdiOrderPostID)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key  on table "EdiOrderPost"
--
ALTER TABLE dbo.EdiOrderPost
  ADD CONSTRAINT FK_EdiOrderPost_EdiOrderListener FOREIGN KEY (EdiRequestID) REFERENCES dbo.EdiOrderListener (EdiRequestID)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key  on table "EdiOrderPost"
--
ALTER TABLE dbo.EdiOrderPost
  ADD CONSTRAINT FK_EdiOrderPost_Connector FOREIGN KEY (ConnectorID) REFERENCES dbo.Connector (ConnectorID)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key  on table "EdiOrderPost"
--
ALTER TABLE dbo.EdiOrderPost
  ADD CONSTRAINT FK_EdiOrderPost_Customer FOREIGN KEY (ConnectorRelationID) REFERENCES dbo.ConnectorRelation (ConnectorRelationID)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create foreign key  on table "EdiOrderPost"
--
ALTER TABLE dbo.EdiOrderPost
  ADD CONSTRAINT FK_EdiOrderPost_EdiOrder FOREIGN KEY (EdiOrderID) REFERENCES dbo.EdiOrder (EdiOrderID)
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create column "EdiProductID" on table "dbo.EdiOrderLine"
--
ALTER TABLE dbo.EdiOrderLine
  ADD EdiProductID nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

--
-- Create column "CompanyCode" on table "dbo.EdiOrderLine"
--
ALTER TABLE dbo.EdiOrderLine
  ADD CompanyCode nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
GO
IF @@ERROR<>0 OR @@TRANCOUNT=0 BEGIN IF @@TRANCOUNT>0 ROLLBACK SET NOEXEC ON END
GO

IF @@TRANCOUNT>0 COMMIT TRANSACTION
GO
SET NOEXEC OFF
GO

