<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- Machine specific values-->
  <add key="PluginPath" value="C:\Users\a.becker\code\Concentrator\Test\Plugin"/>
  <add key="FTPMediaDirectory" value="C:\testing" />
  <add key="FTPMasterGroupMappingMediaPath" value="MasterGroupMapping"/>
  <add key="AttributeImageDirectory" value="C:\ConcentratorFTP\Images\Attributes" />
  <add key="FilesExportPath" value="F:\tmp\sennheiser\" />
  <add key="PDFSavePath" value="C:\Users\a.becker\code\Concentrator\Web\Concentrator.Web.Services\Designer\Output\"/>
  <!-- Server specific values-->
  <add key="ConcentratorImageUrl" value="http://localhost/Concentrator/Images/"/>
  <add key="ConcentratorPortalPrintURL" value="http://localhost/ConcentratorPortal/Home/PrintPricetags" />
  <add key="JobServerID" value="1"/>
  <!-- Web Services-->
  <add key="Password" value="SYS" />
  <!-- Management -->
  <add key="FTPMediaVirtualPath" value="MediaProvider" />
  <add key="FTPMediaProductDirectory" value="Products" />
  <add key="FTPProductGroupMappingMediaPath" value="Mapping" />
  <add key="FTPBrandLogoDirectory" value="BrandLogos" />
  <add key="CalculatePrice" value="True" />
  <add key="CostPriceField" value="Cost Price" />
  <add key="UnitPriceField" value="Unit Price" />
  <add key="TaxRateField" value="VAT" />
  
  <!-- WebToPrint -->
  <add key="WebToPrintProcessorJobName" value="WebToPrintQueueProcessor"/>
  <add key="WebToPrintProcessorJobGroupName" value="WebToPrint"/>

  <add key="DesignerFTP" value="ftp://diract-030/"/>
  <add key="DesignerFTPUsername" value="webtoprint"/>
  <add key="DesignerFTPPassword" value="web"/>

  <add key="DesignerPDFURL" value="http://diract-030/DesignerPDF/"/>
  <add key="DesignerPDFDirectory" value="C:\designerweb\PDF\"/>
  <add key="DesignerImageDirectory" value="C:\designerweb\FTP\"/> <!-- comment this like out to use a seperate FTP server as image holder-->

  <add key="DesignerImageURL" value="http://diract-030/DesignerFTP/"/>
  <!-- Quartz -->
  <add key="QuartzType" value="Quartz.Simpl.RemotingSchedulerExporter, Quartz" />
  <add key="QuartzPort" value="555" />
  <add key="QuartzBindName" value="QuartzScheduler" />
  <add key="QuartzChannelType" value="tcp" />
  <add key="ConcentratorVendorID" value="48"/>
  <add key="ProcessSQL" value="0"/>

  <add key="SearchIndexFilesPath" value="C:\Contentindexer\LuceneIndexFile\"/>

</appSettings>