<?xml version="1.0" encoding="utf-8"?>
<system.diagnostics>
  <sharedListeners>
    <add name="Concentrator" type="Concentrator.Tasks.Diagnostics.ConcentratorTraceListener, Concentrator.Tasks">
      <!-- Only allow: Critical, Error, Warning and Information events -->
      <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" />
    </add>
    <add name="Console" type="Concentrator.Tasks.Diagnostics.ConsoleTraceListener, Concentrator.Tasks" traceOutputOptions="DateTime" />
    <add name="RollingFile" type="Concentrator.Tasks.Diagnostics.RollingFileTraceListener, Concentrator.Tasks" />
  </sharedListeners>
  <trace autoflush="true">
    <listeners>
      <clear />
      <add name="Concentrator" />
      <add name="Console" />
      <add name="RollingFile" />
    </listeners>
  </trace>
</system.diagnostics>