<?xml version="1.0" encoding="utf-8" ?>
  <Environment Current="local">
    <Environments>
      <Env Name="local" Connection="Data Source=.\SQLExpress;Initial Catalog=Concentrator_staging;Persist Security Info=True; User ID=sa;Password=root" IdentificationMethod="UserName"/>
      <Env Name="Staging" Connection="Data Source=192.168.94.186;Initial Catalog=Concentrator_staging;Persist Security Info=True;User ID=concentrator_usr;Password=c0nc3ntT12;MultipleActiveResultSets=True" IdentificationMethod="UserName"/>
    </Environments>
  </Environment>