<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ConcentratorConfiguration" type="Concentrator.Objects.Concentrator.Configuration.ConcentratorConfiguration, Concentrator.Objects.MiddleWare"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="Environment" type="Concentrator.Objects.Environments.EnvironmentConfigSection, Concentrator.Objects"
      allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <connectionStrings>
    <add name="ICEcat"
        connectionString="Data Source=172.16.0.63;Initial Catalog=ICECAT;Persist Security Info=True;User ID=spider;Password=spider"
        providerName="System.Data.SqlClient" />
    <add name="MyComDevelopment"
        connectionString="Data Source=172.16.0.77;Initial Catalog=Bram_Dev_Test;Persist Security Info=True;User ID= replication;Password=oct0pu$$y"
        providerName="System.Data.SqlClient" />
    <add name="dev"  connectionString="Data Source=localhost\sqlexpress;Initial Catalog=mycomdev;Persist Security Info=True; user id = sa; password=Diract01"
         providerName="System.Data.SqlClient" />
    <add name="live"
            connectionString="Data Source=172.16.0.77;Initial Catalog=Bram_POS;Persist Security Info=True;User ID= replication;Password=oct0pu$$y"
            providerName="System.Data.SqlClient" />
    <add name="bramlive"
            connectionString="Data Source=172.16.0.77;Initial Catalog=Bram_Live;Persist Security Info=True;User ID= replication;Password=oct0pu$$y"
            providerName="System.Data.SqlClient" />
    <add name="ShopDev"
        connectionString="Data Source=mercurius;Initial Catalog=MyCom_Shop_Content;Persist Security Info=True;User ID=spider;Password=spider"
        providerName="System.Data.SqlClient" />
    <add name="MagentoWebEntities" connectionString="metadata=res://*/MagentoDB.csdl|res://*/MagentoDB.ssdl|res://*/MagentoDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=jupiter;User Id=magento_demo;password=u5KeCDbU72hsryTW;database=magento_demo;Connect Timeout=30000;Default Command Timeout=30000;port=3310&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!--<ConcentratorConfiguration PluginPath="F:\source\spider\Vendor\Concentrator.websiteimport\bin\Debug">-->
  <ConcentratorConfiguration PluginPath="F:\code\spider\test\plugin\">
    <Plugins>
      <!--<Plugin Name="Attributen" TypeName="Concentrator.WebsiteImport.ImportAttributes" Group="Website" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="Selectors" TypeName="Concentrator.WebsiteImport.ImportSelectors" Group="Website" CronExpressionString="" ExecuteOnStartUp="True"/>-->
      <!--<Plugin Name="ProductReviews" TypeName="Concentrator.WebsiteImport.ImportProductReviews" Group="Website" CronExpressionString="" ExecuteOnStartUp="True"/>-->
      <!--<Plugin Name="Auction" TypeName="Concentrator.WebsiteImport.ImportAuction" Group="Website" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="Barcodes" TypeName="Concentrator.WebsiteImport.ImportBarcodes" Group="Website" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="Images" TypeName="Concentrator.WebsiteImport.ImportImages" Group="Website" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="Product" TypeName="Concentrator.WebsiteImport.ImportProduct" Group="Website" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="RelatedProduct" TypeName="Concentrator.WebsiteImport.ImportRelatedProducts" Group="Website" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="Stock" TypeName="Concentrator.WebsiteImport.ImportStock" Group="Website" CronExpressionString="" ExecuteOnStartUp="True" />-->
      <!--<Plugin Name="Selectors" TypeName="Concentrator.WebsiteImport.ImportSelectors" Group="Website" CronExpressionString="" ExecuteOnStartUp="True"/>-->
      <!--<Plugin Name="ZipCode" TypeName="Concentrator.WebsiteImport.ImportZipCodes" Group="Website" CronExpressionString="" ExecuteOnStartUp="True"/>-->

      <!--<Plugin Name="ShopProducts" TypeName="Concentrator.WebsiteImport.Shop.ShopImportProduct" Group="Website" CronExpressionString="" ExecuteOnStartUp="True"/>-->
      <!--<Plugin Name="ShopOProducts" TypeName="Concentrator.WebsiteImport.Shop.ShopImportOProduct" Group="Website" CronExpressionString="" ExecuteOnStartUp="True"/>-->

      <!--<Plugin Name="MagentoStock" TypeName="MagentoImport.MagentoStockImport" Group="Website" CronExpressionString="" ExecuteOnStartUp="True"/>-->
      <!--<Plugin Name="MagentoAssortmentImport" TypeName="MagentoImport.MagentoAssortmentImport" Group="Website" CronExpressionString="" ExecuteOnStartUp="True"/>-->
      <!--<Plugin Name="MagentoImageImport" TypeName="MagentoImport.MagentoImageImport" Group="Website" CronExpressionString="" ExecuteOnStartUp="True"/>-->
      <Plugin Name="MagentoOrderExport" TypeName="MagentoImport.MagentoOrderExport" Group="Website" CronExpressionString="" ExecuteOnStartUp="True"/>
      <!--<Plugin Name="ResponseListener" TypeName="MagentoImport.ResponseListener" Group="Website" CronExpressionString="" ExecuteOnStartUp="True"/>-->
    </Plugins>
    <Connectors>
      <!--<Connector Name="MyCom" ConnectorID="1" ConnectionStringName="MyComDevelopment" ImportCommercialText="True" ConnectorType="WebAssortment"  ConcatBrandName="False" O_Items="False" ZipCodes="True" Selector="True" OverrideDescription="True"/>-->
      <!--<Connector Name="MyComShop" ConnectorID="7" ConnectionStringName="live" ImportCommercialText="True" ConnectorType="ShopAssortment"  ConcatBrandName="True" O_Items="True" ZipCodes="False" Selector="True" OverrideDescription="False"/>-->
      <!--<Connector Name="Auction" ConnectorID="8" ConnectionStringName="MyComStaging" ImportCommercialText="True" ConnectorType="Aution" ConcatBrandName="False" O_Items="False" />-->
      <Connector Name="DemoStore" ConnectorID="1" ConnectionStringName="MagentoWebEntities" ImportCommercialText="True" ConnectorType="Magento" ConcatBrandName="False" O_Items="False" MySqlTable="magento_demo" ZipCodes="False" Selector="True" OverrideDescription="False" Connection="server=jupiter;User Id=magento_demo;password=u5KeCDbU72hsryTW;database=magento_demo;Connect Timeout=30000;Default Command Timeout=30000;port=3310" />
    </Connectors>
  </ConcentratorConfiguration>

  <appSettings>
    <add key="ImageDirectory" value="F:\Concentrator\Images\" />
    <add key="XMLfile" value="F:\Concentrator\Temp\"/>

    <add key="SoldtoBASCustomer" value="24546500"/>
    <add key ="ContactName" value="MagentoConnector"/>
    <add key="ContactEmail" value ="t.zeeman@diract-it.nl"/>
    <add key="ContactPhoneNumber" value="0123456789"/>
    <add key="BSKIdentifier" value="1000000174"/>
    <!--1000000089-->
    <add key="XMLlogSend" value="F:\Concentrator\Temp\"/>
    <add key="XMLlogReceive" value="F:\Concentrator\Temp\"/>
    <add key="EDIUrl" value="http://82.148.218.237:4323/"/>
    <add key="ListenerPrefixes" value="http://*:6666/"/>
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="Concentrator.Objects.Concentrator.ServiceLayer" behaviorConfiguration="MiddleWareServiceBehaviour">
        <endpoint
          name="MiddleWareServiceEndPoint"
          address=""
          binding="netTcpBinding"
          bindingConfiguration="MiddleWareServiceBinding"
          contract="Concentrator.Objects.Concentrator.Contracts.IConcentratorService"
          />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="SpiderServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="999965536" maxBufferPoolSize="524288" maxReceivedMessageSize="999965536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="9998192" maxArrayLength="99916384" maxBytesPerRead="99994096" maxNameTableCharCount="99916384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""></transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SelectorServiceSoap" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="9965536" maxBufferPoolSize="524288" maxReceivedMessageSize="9965536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="819299999" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm=""></transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="JdeAssortmentSoap" closeTimeout="00:04:00" openTimeout="00:04:00" receiveTimeout="00:15:00" sendTimeout="00:04:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="99965536" maxBufferPoolSize="524288" maxReceivedMessageSize="99965536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192999" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">

            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="MiddleWareServiceBinding" sendTimeout="00:00:01">
          <reliableSession enabled="true" />
          <security mode="None">
            <transport />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MiddleWareServiceBehaviour">
          <serviceThrottling maxConcurrentSessions="20" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>

      <endpoint address="http://concentrator.basdistributie.nl/assortment.asmx" binding="basicHttpBinding" bindingConfiguration="SpiderServiceSoap" contract="ConcentratorContentService.SpiderServiceSoap" name="SpiderServiceSoap" />
      <endpoint address="http://concentrator.basdistributie.nl/SelectorService.asmx" binding="basicHttpBinding" bindingConfiguration="SelectorServiceSoap" contract="ConcentratorSelectorService.SelectorServiceSoap" name="SelectorServiceSoap" />

    </client>
  </system.serviceModel>

  <log4net>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date | %-5level %logger - %message%newline" />
      </layout>
    </appender>


    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>

    </appender>


    Setup the root category, add the appenders and set the default level
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>


  </log4net>
</configuration>
