<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="CentraalBoekhuisFtpUrl" value="ftp://ftp1.boekhuis.nl/" />
    <add key="CentraalBoekhuisCoverPath" value="ebook_covers"/>
    <add key="CentraalBoekhuisInitialPath" value="initieel"/>
    <add key="CentraalBoekhuisFilePath" value="out/" />

    <add key="CentraalBoekhuisUser" value="eboekpics"/>
    <add key="CentraalBoekhuisPassword" value="KqU4ipom"/>
    <add key="FTPImageDirectory" value="C:\ConcentratorFTP"/>
    <add key="IsNetworkDrive" value="False"/>
    <add key="CentraalBoekhuisVendorID" value="255"/>
    <add key="CentraalBoekhuisDefaultVendorID" value="255"/>
    <add key="VendorID" value="255"/>
    <add key="DefaultVendorID" value="255"/>
    
    <add key="EndpointNm" value="8864969" />
    <add key="CbCertificate" value="zZjhFAHwwqOxSoHhGYpberCIeWqxDRjauBDUhgEurzgodLObunRmjxgdvaeJRqWq" />

    <add key="CentraalBoekhuisDirectory" value="C:\CentraalBoekhuis\CSV" />
    <add key="CentraalBoekhuisFile" value="mutaties_eboeken.csv" />    
    <add key="CbUri" value="https://tst.eboekhuis.nl/cbwebs/CBWSCallEngine?WSDL" />
    <add key="CbClientID" value="098123" />

  </appSettings>

</configuration>