<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Concentrator.Plugins.BAS.WebExport.Properties.Settings.BasWeb_StagingConnectionString"
      connectionString="Data Source=generaldb;Initial Catalog=BasWeb_Staging;Persist Security Info=True;User ID=BasWeb_Staging_AppUser;Password=?+0m!Z2x"
      providerName="System.Data.SqlClient" />
    <add name="Concentrator.Plugins.BAS.WebExport.Properties.Settings.Bram_Dev_TestConnectionString"
      connectionString="Data Source=172.16.0.77;Initial Catalog=Bram_Dev_Test;User ID=replication;Password=oct0pu$$y"
      providerName="System.Data.SqlClient" />
    <add name="Concentrator.Plugins.BAS.WebExport.Properties.Settings.Bram_Dev_TestConnectionString1"
      connectionString="Data Source=172.16.0.77;Initial Catalog=Bram_Dev_Test;User ID=replication;Password=oct0pu$$y"
      providerName="System.Data.SqlClient" />
    <add name="Concentrator.Plugins.BAS.WebExport.Properties.Settings.Bram_Dev_TestConnectionString2"
      connectionString="Data Source=172.16.0.77;Initial Catalog=Bram_Dev_Test;User ID=replication"
      providerName="System.Data.SqlClient" />
    <add name="Concentrator.Plugins.BAS.WebExport.Properties.Settings.MyCom_Shop_ContentConnectionString"
      connectionString="Data Source=mercurius;Initial Catalog=MyCom_Shop_Content;Persist Security Info=True;User ID=spider"
      providerName="System.Data.SqlClient" />
    <add name="Concentrator.Plugins.BAS.WebExport.Properties.Settings.MyComWEBV2_ProdConnectionString"
      connectionString="Data Source=192.168.94.190;Initial Catalog=MyComWEBV2_Prod;Persist Security Info=True;User ID=bram_portal;Password=bram"
      providerName="System.Data.SqlClient" />
    <add name="Concentrator.Plugins.BAS.WebExport.Properties.Settings.MyComWEB_StagingConnectionString"
      connectionString="Data Source=192.168.94.189;Initial Catalog=MyComWEB_Staging;Persist Security Info=True;User ID=bram_portal;Password=bram"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ImageDirectory" value="F:\Images\"/>
    <add key="XMLfile" value="C:\Services\Concentrator_Export\XML"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
