<configuration>
  <configSections>
    <sectionGroup name="concentrator" type="Concentrator.Configuration.ConcentratorSectionGroup, Concentrator.Configuration">
      <section name="database" type="Concentrator.Configuration.DatabaseSection, Concentrator.Configuration" />
    </sectionGroup>
  </configSections>

  <concentrator>
    <database
      connectionString="Data Source=.\SQL2012%3b Initial Catalog=CCAT%3b Integrated Security=True"
      className="ConcentratorDatabase"
      isPublic="true">
      <filters>
        <filter>ConnectorProductAttribute</filter>
      </filters>
      <schemas>
        <schema>dbo</schema>
        <schema>Core</schema>
        <schema>Magento</schema>
      </schemas>
    </database>
  </concentrator>
</configuration>