<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="XtractFtpPath" value="C:\Concentrator\Media\Xtract\User\"/>
    <add key="PriceListExcel" value="http://xtract.basgroup.nl/PriceList/Excel.aspx?{0}{1}"/>
    <add key="PriceListCSV" value="http://xtract.basgroup.nl/PriceList/Csv.aspx?{0}{1}"/>
  </appSettings>
</configuration>