<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CachingDirectory" value="C:\code\ice\"/>
    <!--<add key="XSDDirectory" value="c:\ICECattemplates\" />-->
    <add key="BaseDownloadUrl" value="http://data.icecat.biz/"/>
    <add key="User" value="bascomputers"/>
    <add key="Password" value="1019asr"/>

    <!--<add key="BaseDownloadUrl" value="http://data.icecat.biz/"/>
    <add key="User" value="Diract"/>
    <add key="Password" value="icecat"/>-->
    <add key="FullIceCat" value="False"/>
    <!--<add key="IndexStagingTable" value="DataStaging.IceCat_ProductsMap" />-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
