<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Environment" type="Concentrator.Configuration.Core.EnvironmentConfigSection, Concentrator.Configuration" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <Environment Current="Development">
    <Environments>
      <Env Name="Development" Connection="Data Source=beegua;Initial Catalog=Concentrator_dev; Integrated Security=SSPI" IdentificationMethod="UserName"/>
      <Env Name="local" Connection="Data Source=.\SQLExpress;Initial Catalog=ConcentratorEmpty; User ID=sa;Password=Diract01" IdentificationMethod="UserName"/>
      <Env Name="production" Connection="Data Source=192.168.94.186;Initial Catalog=Concentrator_Prod;Persist Security Info=True; user id=Concentrator_usr; password=c0nc3ntT12" IdentificationMethod="UserName"/>
      <Env Name="Staging" Connection="Data Source=192.168.94.186;Initial Catalog=Concentrator_Staging;Persist Security Info=True; user id=Concentrator_usr; password=c0nc3ntT12" IdentificationMethod="UserName"/>
      <Env Name="localTim" Connection="Data Source=.\SQLExpress;Initial Catalog=Concentrator_sennheiser; User ID=Sa;Password=Diract01" IdentificationMethod="UserName"/>
      <Env Name="wizard" Connection="Data Source=DIRACT-025\SQL2008;Initial Catalog=Concentrator_storage; User ID=spider;Password=spider" IdentificationMethod="UserName"/>
      <Env Name="localDuy" Connection="Data Source=DIRACT-003\SQLExpress;Initial Catalog=Concentrator; User ID=spider;Password=spider" IdentificationMethod="UserName"/>
      <Env Name="localCasper" Connection="Data Source=CASPER-PC\SQLExpress;Initial Catalog=Concentrator; User ID=sa;Password=Diract01" IdentificationMethod="UserName"/>
    </Environments>
  </Environment>
</configuration>