<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VendorID" value="56"/>
    <add key="DefaultVendorID" value="56"/>
    <add key="CopacoProductFtpUrl" value="ftp://ftp.copaco.nl/"/>
    <add key="CopacoProductPath" value="73546/Out/"/>
    <add key="CopacoUserName" value="73546"/>
    <add key="CopacoPassword" value ="23jcro7d"/>
    <add key="CopacoFtpUrl" value="ftp://ftp.copaco.nl/"/>
    <add key="CopacoContentPath" value="Copaco/"/>
    <add key="CopacoContentUserName" value="copaco"/>
    <add key="CopacoContentPassword" value="get_files"/>
  </appSettings>
</configuration>