<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WinscpLogPath" value="C:\Services\Concentrator\Work\Zip\log.xml"/>
    <add key="WinscpAppPath" value="C:\Program Files (x86)\WinSCP\WinSCP.com"/>
    <add key="WinscpDownloadPath" value="C:\Services\Concentrator\Work\Zip\"/>
    <add key="WinscpSession" value="mysession"/>
    <add key="FullZipPath" value="F:\tmp\postcode\pctr.2010-okt"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
