<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ImageService.Properties.Settings.SpiderConnectionString"
            connectionString="Data Source=mercurius;Initial Catalog=Spider;Persist Security Info=True;User ID=spider;Password=spider"
            providerName="System.Data.SqlClient" />
        <add name="ImageService.Properties.Settings.Bram_LiveConnectionString"
            connectionString="Data Source=bramlivesrv;Initial Catalog=Bram_Live;Persist Security Info=True;User ID=bram_portal;Password=Br@m1e"
            providerName="System.Data.SqlClient" />
        <add name="ImageService.Properties.Settings.Bram_Dev_TestConnectionString"
            connectionString="Data Source=bramlivesrv;Initial Catalog=Bram_Dev_Test;Persist Security Info=True;User ID=replication;Password=oct0pu$$y"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SpiderServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="">
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="SpiderServiceSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="">
                            <extendedProtectionPolicy policyEnforcement="Never" />
                        </transport>
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Concentrator/assortment.asmx"
                binding="basicHttpBinding" bindingConfiguration="SpiderServiceSoap"
                contract="SpiderService.SpiderServiceSoap" name="SpiderServiceSoap" />
            <endpoint address="http://localhost/Concentrator/assortment.asmx"
                binding="basicHttpBinding" bindingConfiguration="SpiderServiceSoap1"
                contract="SpiderService.SpiderServiceSoap" name="SpiderServiceSoap1" />
        </client>
    </system.serviceModel>

  <appSettings>
    <add key="ConcentratorConnectorID" value="2"/>
    <add key="ImageDirectory" value="F:\images\"/>
    <add key="DBstore" value="1"/>
    <add key="OrderStatusCheckInterval" value="12"/> <!-- In hours-->
  </appSettings>
  
  <userSettings>
    <ImageService.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>d</value>
      </setting>
      <setting name="ImageSizeSmall" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="ImageSizeMedium" serializeAs="String">
        <value>150, 150</value>
      </setting>
      <setting name="ImageSizeLarge" serializeAs="String">
        <value>350, 350</value>
      </setting>
      <setting name="ImageSizeMasterGroupThumbNail" serializeAs="String">
        <value>110, 110</value>
      </setting>
      <setting name="ImageSizeAuctionOverview" serializeAs="String">
        <value>100, 100</value>
      </setting>
      <setting name="ImageSizePhotoView" serializeAs="String">
        <value>70, 70</value>
      </setting>
      <setting name="ImageSizeSearch" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="ImageSizeProductOverview" serializeAs="String">
        <value>70, 70</value>
      </setting>
      <setting name="ImageSizeExtraSmall" serializeAs="String">
        <value>40, 40</value>
      </setting>
      <setting name="ImageSizeSubSiteProductGroup" serializeAs="String">
        <value>210, 199</value>
      </setting>
    </ImageService.Properties.Settings>
  </userSettings>
</configuration>