@{
  Layout = null;
}

<anychart>
  <settings>
    <no_data show_waiting_animation=”true”>
      <label>
        <text>No Data for this component</text>
      </label>
    </no_data>
  </settings>  
</anychart>
