<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="vendorID" value="1"/>
    <add key="NederlofVendorID" value="1"/>
    <add key="NederlofFiles" value="F:\tmp\Jumbo\Import\"/>
    <add key="NederlofMediaFiles" value ="F:\tmp\Jumbo\Import Media\"/>
    <add key="FTPImageDirectory" value="Y:\Concentrator\"/>
    <add key="BrandProductSegmentationList" value="F:\tmp\Jumbo\Brands-Products Segmentation List.xls"/>
    <add key="NederlofIntroFiles" value="F:\tmp\Jumbo\intro\"/>
  </appSettings>
</configuration>