<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DhlInFolder" value="D:\Concentrator_ftp\wms\IN\DHL"/>
    <add key="DhlInProcessedFolder" value="D:\Concentrator_ftp\wms\IN\DHL\Processed"/>
    <add key="DhlOutFolder" value="D:\Concentrator_ftp\wms\OUT\DHL"/>
  </appSettings>
</configuration>