<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ImageDirectory" value="d:\tmp\Concentrator_Magento_Export\Images\" />
    <add key="XMLfile" value="d:\tmp\Concentrator_Magento_Export\XML\Product\" />
    <add key="XMLlogSend" value="d:\tmp\Concentrator_Magento_Export\XML\send\" />
    <add key="XMLlogReceive" value="d:\tmp\Concentrator_Magento_Export\XML\Receive\" />
    <add key="ContactName" value="MagentoConnector" />
    <add key="ContactEmail" value="t.zeeman@diract-it.nl" />
    <add key="ContactPhoneNumber" value="0123456789" />
    <add key="EDIUrl" value="http://82.148.218.237:4323/" />
    <add key="ListenerPrefixes" value="http://*:1331/" />
    <add key="MagentoDatabaseStructuralScripts" value="C:\Projects\Concentrator\Plugins\Concentrator.Plugins.Magento\DatabaseScriptUpdates.txt" />
    <add key="BusinessUnits" value="40001" />
    <add key="AdditionalItems" value="jhfd,fsjdkfsl" />
    <add key="AssortmentSerializationPath" value="D:\magento" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to registered an accounts using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.-->
    <add key="AWSProfileName" value="" />
  </appSettings>
  <connectionStrings>
    <add name="magentoContext" connectionString="metadata=res://*/Mymagento.csdl|res://*/magento.ssdl|res://*/magento.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=jupiter;Allow Zero Datetime=true;user id=magento_demo;password=u5KeCDbU72hsryTW;persist security info=True;port=3310;database=magento_demo&quot;" providerName="System.Data.EntityClient" />
    <add name="magento_demoEntities" connectionString="metadata=res://*/MagentoDB.csdl|res://*/MagentoDB.ssdl|res://*/MagentoDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=90.145.32.124;User Id=c4magdbusr01;Allow Zero Datetime=true;password=MySQLiciPASS24!;database=c4magdb01;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CustomersContainer" connectionString="metadata=res://*/Customers.csdl|res://*/Customers.ssdl|res://*/Customers.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=90.145.32.110;User Id=web37u1;password=vv^T^3dbusr!;Allow Zero Datetime=true;database=web37db1;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="MagentoContainer" connectionString="metadata=res://*/Magento.csdl|res://*/Magento.ssdl|res://*/Magento.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=90.145.32.110;User Id=web37u1;password=vv^T^3dbusr!;Allow Zero Datetime=true;database=web37db1;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Development" connectionString="server=172.16.34.25;User Id=root;password=password;database=basbestagingdb;Connect Timeout=30000;Allow Zero Datetime=true;Convert Zero Datetime=true;Default Command Timeout=30000;port=3306" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>