<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Concentrator.Connectors.PriceCompare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Concentrator.Connectors.PriceCompare.Properties.Settings>
            <setting name="SchemaFile" serializeAs="String">
                <value>C:\_Dennis\SVN\ScanImporter\ScanImporter\Schema\Scan.xsd</value>
            </setting>
            <setting name="XmlFile" serializeAs="String">
                <value>C:\Users\dennis\Downloads\competitorpricereport.xml</value>
            </setting>
            <setting name="XmlLogFile" serializeAs="String">
                <value>C:\error.xml</value>
            </setting>
            <setting name="DownloadURL" serializeAs="String">
                <value>https://secure.scan.co.uk/supplier/competitorpricexml.asp</value>
            </setting>
            <setting name="WebUser" serializeAs="String">
                <value>basxml</value>
            </setting>
            <setting name="WebPass" serializeAs="String">
                <value>UDpQxd7VLb</value>
            </setting>
            <setting name="WebCurrency" serializeAs="String">
                <value>EUR</value>
            </setting>
        </Concentrator.Connectors.PriceCompare.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
