<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="VendorIdsToDownload" value="15,25"/>
    <add key="ListFTPFilesCheck" value="true"/>
    
    <add key="WehkampFilesRootFolder" value="c:\temp\wehkamp"/>

    <add key="IncomingFilesRootFolder" value="Incoming"/>
    <add key="OutgoingFilesRootFolder" value="Outgoing"/>
    <add key="FailedFilesRootFolder" value="Failed"/>
    <add key="ArchivedFilesRootFolder" value="Archived"/>

    <add key="FTPMediaDirectory" value="D:\ConcentratorImages\" />
    
    <add key="ProductInformationRootFolder" value="To\Products"/>
    <add key="ProductAttributesRootFolder" value="To\ProductAttributes"/>
    <add key="ProductRelationRootFolder" value="From\ProductRelation"/>
    <add key="ShipmentNotificationRootFolder" value="To\ShipmentNotification"/>
    <add key="ShipmentConfirmationRootFolder" value="From\ShipmentConfirmation"/>
    <add key="SalesOrderRootFolder" value="From\SalesOrder"/>
    <add key="ProductPricesRootFolder" value="To\ProductPrices"/>
    <add key="StockMutationRootFolder" value="From\StockMutation"/>
    <add key="StockPhotoRootFolder" value="From\StockPhoto"/>
    <add key="ProductMediaRootFolder" value="To\ProductMedia"/>
    <add key="StockReturnRequestRootFolder" value="To\StockReturnRequest"/>
    <add key="StockReturnRequestResponseRootFolder" value="From\StockReturnRequestResponse"/>
    <add key="StockReturnConfirmation" value="To\StockReturnConfirmation"/>

    <add key="ReadyForWehkampAttributeID" value="87"/>
    <add key="SentToWehkampAttributeID" value="88"/>
    
    
    
    
  </appSettings>
</configuration>