<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TechDataAuthorizationCode" value="ICzx7ar0-1FRI-oZCo-tBsi-5dVuVOwnhNuX"/>
    <add key="TechDataURL" value="https://intcom.xml.quality.techdata.de:7776/XMLGate/inbound"/>
    <!--Test url-->
    <!--<add key="TechDataURL" value="https://intcom.xml.techdata-europe.com:7776/XMLGate/inbound"/>-->
    <!--Live url-->
    <add key="TechDataXsdURL" value="http://integratex.quality.techdata.de:8080/ix/dtd/ixOrder4.dtd"/>
    <!--Test xsd -->
    <add key="TechDataFtpSite" value="ftp://ftp2.techdata-it-emea.com"/>
    <add key="TechDataFtpUserName" value="136699"/>
    <add key="TechDataFtpPass" value="TxOBsf1r"/>
    <add key="VendorID" value="37"/>
    <add key="DefaultVendorID" value="37"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
