<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LenmarImageFtpUrl" value="ftp://216.237.40.166/" />
    <add key="LenmarImageUser" value="mycom" />
    <add key="LenmarImagePassword" value="Mycom@LenFTPi" />
    <add key="FTPImageDirectory" value="F:\tmp\lenmar"/>
    <add key="LenmarImageFtpFolder" value="Large"/>
    <add key="LenmarFtpUrl" value="ftp://wms.basgroup.nl/"/>
    <add key="LenmarUserName" value="lenmar"/>
    <add key="LenmarPassword" value="g&amp;hhs(23"/>
    <add key="LenmarProductPath" value="LOG/OUT/PRODUCT/"/>
    <add key="LenmarContentPath" value="OUT/CONTENT/"/>
    <add key="VendorID" value="40"/>
    <add key="DefaultVendorID" value="40"/>
  </appSettings>
</configuration>