<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ExportPath" value="\\10.100.1.9\c$\ConnectFLow2\Interfaces\SAP\Dixons\"/>-->
    <!--<add key="IsNetworkDrive" value="True"/>-->
    <add key="ExportPath" value="F:\tmp\BEX\ConnectFlow\"/>
    <add key="IsNetworkDrive" value="False"/>
    <add key="NetworkUserName" value="Adminpos"/>
    <add key="NetworkPassword" value="POS1345"/>
    <add key="AggregatorLog" value="C:\Concentrator\Concentrator\Log\Aggregator"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>